{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 80
            }
        }
    ]
}
